{% extends "base.html" %}


{% block content %}

    <form method="POST" action="{% url 'signup' %}">

    {% csrf_token %}

        사용자 이름:
        <input name="username" type="text" value="">
        <br>
        ID:
        <input name="id" type="text" value="">
        <br>
        비밀번호:
        <input name="password1" type="password" value="">
        <br>
        비밀번호 확인:
        <input name="password2" type="password" value="">
        <br>

        <input name="btn btn-primary" type="submit" value="가입하기">

    </form>

{% endblock %}